

<br>
<br>

<div class="container">


<h2>Hello and welcome to Alien Friend Finder</h2>
<h3>Answer the questions below to find your Alien friend match....</h3>


		<hr>
		<form role="form" id="survey">
			<div class="form-group">
				<label for="user">Name: (Required)</label>
				<input type="text" class="form-control" id="name" placeholder="Mike">
			</div>
			<div class="form-group">
				<label for="user">Species: (Required)</label>
				<input type="text" class="form-control" id="species" placeholder="Human">
			</div>
			<div class="form-group">
				<label for="user">Home Planet: (Required)</label>
				<input type="text" class="form-control" id="planet" placeholder="Zebulon 4">
			</div>
			<div class="form-group">
				<label for="user">Gender: (Required)</label>
				<input type="text" class="form-control" id="gender" placeholder="male">
			</div>
			<div class="form-group">
				<label for="user">Age: (Required)</label>
				<input type="text" class="form-control" id="age" placeholder="36">
			</div>
			<hr>
			<h2>Answer the following questions:</h2>
			<hr>

			<div class="row col-lg-12">
				<h4>Question 1: </h4>
				<h4>Do you prefer a city or a beach holiday?: </h4>
				<div class="form-group col-xs-3">
					<select class="form-control" id="q1">
						<option>1 (City)</option>
						<option>2 (Somewhat City)</option>
						<option>3 (Indifferent)</option>
						<option>4 (Somewhat Beach)</option>
						<option>5 (Beach)</option>
					</select>
				</div>
			</div>

			<div class="row col-lg-12">
				<h4>Question 2: </h4>
				<h4>Do you prefer pets or people?: </h4>
				<div class="form-group col-xs-3">
					<select class="form-control" id="q2">
						<option>1 (Pets)</option>
						<option>2 (Somewhat Pets)</option>
						<option>3 (Indifferent)</option>
						<option>4 (Somwewhat People)</option>
						<option>5 (People)</option>
					</select>
				</div>
			</div>

			<div class="row col-lg-12">
				<h4>Question 3: </h4>
				<h4>Do you prefer being indoors or outdoors?: </h4>
				<div class="form-group col-xs-3">
					<select class="form-control" id="q3">
						<option>1 (Indoors)</option>
						<option>2 (Somewhat Indoors)</option>
						<option>3 (Indifferent)</option>
						<option>4 (Somewhat Outdoors)</option>
						<option>5 (Outdoors)</option>
					</select>
				</div>
			</div>

			<div class="row col-lg-12">
				<h4>Question 4: </h4>
				<h4>Do you prefer moshing or museums?: </h4>
				<div class="form-group col-xs-3">
					<select class="form-control" id="q4">
						<option>1 (Moshing)</option>
						<option>2 (Somewhat Moshing)</option>
						<option>3 (Indifferent)</option>
						<option>4 (Somewhat Museums)</option>
						<option>5 (Museums)</option>
					</select>
				</div>
			</div>

			<div class="row col-lg-12">
				<h4>Question 5: </h4>
				<h4>Two wheels or four?: </h4>
				<div class="form-group col-xs-3">
					<select class="form-control" id="q5">
						<option>1 (Two Wheels)</option>
						<option>2 (Somewhat Two Wheels</option>
						<option>3 (Indifferent)</option>
						<option>4 (Somewhat Four Wheels</option>
						<option>5 (Four Wheels)</option>
					</select>
				</div>
			</div>

			<div class="row col-lg-12">
				<h4>Question 6: </h4>
				<h4>Are you about chillin' and illin' or are you about the saga?: </h4>
				<div class="form-group col-xs-3">
					<select class="form-control" id="q6">
						<option>1 (Chillin & Illin')</option>
						<option>2 (Somehwat Chillin' & Illin'</option>
						<option>3 (Indifferent)</option>
						<option>4 (Somewhat Saga)</option>
						<option>5 (Saga)</option>
					</select>
				</div>
			</div>

			<div class="row col-lg-12">
				<h4>Question 7: </h4>
				<h4>Are you a morning or evening person?: </h4>
				<div class="form-group col-xs-3">
					<select class="form-control" id="q7">
						<option>1 (Morning)</option>
						<option>2 (Late Morning</option>
						<option>3 (Midday</option>
						<option>4 (Early Evening)</option>
						<option>5 (Evening)</option>
					</select>
				</div>
			</div>

			<div class="row col-lg-12">
				<h4>Question 8: </h4>
				<h4>If in doubt, turn left or turn right?: </h4>
				<div class="form-group col-xs-3">
					<select class="form-control" id="q8">
						<option>1 (Turn Left)</option>
						<option>2 (Mostly Left)</option>
						<option>3 (Straight on)</option>
						<option>4 (Mostly Right)</option>
						<option>5 (Right)</option>
					</select>
				</div>
			</div>

			<div class="row col-lg-12">
				<h4>Question 9: </h4>
				<h4>Chicago Deep Dish or New York Stlye Pizza?: </h4>
				<div class="form-group col-xs-3">
					<select class="form-control" id="q9">
						<option>1 (Deep Dish)</option>
						<option>2 (Deepish Dish)</option>
						<option>3 (Indifferent)</option>
						<option>4 (New Yorkish)</option>
						<option>5 (New York Style)</option>
					</select>
				</div>
			</div>

			<div class="row col-lg-12">
				<h4>Question 10: </h4>
				<h4>Sweet or Savoury?: </h4>
				<div class="form-group col-xs-3">
					<select class="form-control" id="q10">
						<option>1 (Sweet)</option>
						<option>2 (Somewhat Sweet)</option>
						<option>3 (Indifferent)</option>
						<option>4 (Somewhat Savoury)</option>
						<option>5 (Savoury)</option>
					</select>
				</div>
			</div>
			
			<button type="button" class="btn btn-success" id="submit">Submit</button>
	
		</form>

		<!-- Modal -->
  <div class="modal fade" id="friend-modal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  <div class="footer">
  	<br>
  	<br>
  </div>
	</div>
<script type="text/javascript">
		 
	





